body
{
	background-color: dimgray;
}

#board, #bottom
{
	margin: 0 auto;
}

#promotion
{
	text: blue,
	cursor: pointer;
}

#board
{
	padding: 1px;
	border: 15px solid black;
}

#bottom
{
	background-color: yellow;
	border: 15px solid blue;
}

.lightbrown
{
	background-image: url('images/lightbrown.png');
}
.darkbrown
{
	background-image: url('images/darkbrown.png');
}
.orange
{
	background-image: url("images/orangeblank.png");
}
.blue
{
	background-image: url("images/blueblank.png");
}

h3, button
{
	float: left;
	padding-left:45px;
	padding-right: 45px;
}