body
{
	background-color: dimgray;
	max-width: 900px;
	margin: auto;
}

#board
{
	padding: 1px;
	border: 13px solid black;
}

#bottom
{

}

.lightbrown
{
	background-image: url('images/lightbrown.png');
}
.darkbrown
{
	background-image: url('images/darkbrown.png');
}
.orange
{
	background-image: url("images/orangeblank.png");
}
.blue
{
	background-image: url("images/blueblank.png");
}

.white
{
	background-color: white;
}

h3, button
{
	float: left;
	padding-left:45px;
	padding-right: 45px;
}