body{background-color: dimgray;}

table
{
	padding: 1px;
	border: 13px solid black;
}

.lightbrown
{
	background-image: url('images/lightbrown.png');
}
.darkbrown
{
	background-image: url('images/darkbrown.png');
}

.white
{
	background-color: white;
}